In [ ]:
import pandas as pd
from databasePath import path
import os
from datetime import timedelta
import numpy as np

In [9]:
folder_path = path
files = os.listdir(folder_path)
reqFiles = []
for file in files:
    if file.endswith('.csv'):
        reqFiles.append(file)

In [10]:
len(reqFiles)

26

In [11]:
reqFiles

['PROCEDUREEVENTS_MV.csv',
 'CALLOUT.csv',
 'D_CPT.csv',
 'D_ITEMS.csv',
 'CAREGIVERS.csv',
 'MICROBIOLOGYEVENTS.csv',
 'LABEVENTS.csv',
 'INPUTEVENTS_CV.csv',
 'ADMISSIONS.csv',
 'D_LABITEMS.csv',
 'DATETIMEEVENTS.csv',
 'PRESCRIPTIONS.csv',
 'PROCEDURES_ICD.csv',
 'NOTEEVENTS.csv',
 'CHARTEVENTS.csv',
 'TRANSFERS.csv',
 'DIAGNOSES_ICD.csv',
 'SERVICES.csv',
 'DRGCODES.csv',
 'OUTPUTEVENTS.csv',
 'PATIENTS.csv',
 'D_ICD_DIAGNOSES.csv',
 'ICUSTAYS.csv',
 'INPUTEVENTS_MV.csv',
 'D_ICD_PROCEDURES.csv',
 'CPTEVENTS.csv']

In [12]:
patients = pd.read_csv(f'{path}/patients.csv')

In [13]:
print(patients.shape)
print(patients.columns)

(46520, 8)
Index(['ROW_ID', 'SUBJECT_ID', 'GENDER', 'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN',
       'EXPIRE_FLAG'],
      dtype='object')

In [14]:
chartEventsChunk = []
for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):
    chartEventsChunk.append(chunk)

chartEvents = pd.concat(chartEventsChunk)

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/143005368.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):
/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/143005368.py:2: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):
/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/143005368.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):

In [15]:
chartEvents.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME',
       'STORETIME', 'CGID', 'VALUE', 'VALUENUM', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'],
      dtype='object')

In [16]:
chartEvents.head(5)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788,36,165660,241249.0,223834,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,15.0,15.00,L/min,0.0,0.0,NaN,NaN
1,789,36,165660,241249.0,223835,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,100.0,100.00,NaN,0.0,0.0,NaN,NaN
2,790,36,165660,241249.0,224328,2134-05-12 12:00:00,2134-05-12 12:18:00,20823.0,0.37,0.37,NaN,0.0,0.0,NaN,NaN
3,791,36,165660,241249.0,224329,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,6.0,6.00,min,0.0,0.0,NaN,NaN
4,792,36,165660,241249.0,224330,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,2.5,2.50,NaN,0.0,0.0,NaN,NaN

In [17]:
dfs = {}
dfCols = []

reqFiles.remove('PATIENTS.csv')
reqFiles.remove('CHARTEVENTS.csv')

for file in reqFiles:
    print("-----------------------")
    print("FILE : ",file)
    df = pd.read_csv(f"{path}/{file}")
    dfs[file] = df

-----------------------
FILE :  PROCEDUREEVENTS_MV.csv

-----------------------
FILE :  CALLOUT.csv
-----------------------
FILE :  D_CPT.csv
-----------------------
FILE :  D_ITEMS.csv
-----------------------
FILE :  CAREGIVERS.csv
-----------------------
FILE :  MICROBIOLOGYEVENTS.csv
-----------------------
FILE :  LABEVENTS.csv
-----------------------
FILE :  INPUTEVENTS_CV.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (7,9,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  ADMISSIONS.csv
-----------------------
FILE :  D_LABITEMS.csv
-----------------------
FILE :  DATETIMEEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  PRESCRIPTIONS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  PROCEDURES_ICD.csv
-----------------------
FILE :  NOTEEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  TRANSFERS.csv
-----------------------
FILE :  DIAGNOSES_ICD.csv
-----------------------
FILE :  SERVICES.csv
-----------------------
FILE :  DRGCODES.csv
-----------------------
FILE :  OUTPUTEVENTS.csv
-----------------------
FILE :  D_ICD_DIAGNOSES.csv
-----------------------
FILE :  ICUSTAYS.csv
-----------------------
FILE :  INPUTEVENTS_MV.csv
-----------------------
FILE :  D_ICD_PROCEDURES.csv
-----------------------
FILE :  CPTEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

### Working with Admissions.csv

In [18]:
admissions = dfs['ADMISSIONS.csv'].merge(patients, on='SUBJECT_ID', suffixes=('', '_PAT'), how='inner')
print(admissions.columns)

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME',
       'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA', 'ROW_ID_PAT', 'GENDER',
       'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG'],
      dtype='object')

In [19]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58976 entries, 0 to 58975
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ROW_ID                58976 non-null  int64
 1   SUBJECT_ID            58976 non-null  int64
 2   HADM_ID               58976 non-null  int64
 3   ADMITTIME             58976 non-null  object
 4   DISCHTIME             58976 non-null  object
 5   DEATHTIME             5854 non-null   object
 6   ADMISSION_TYPE        58976 non-null  object
 7   ADMISSION_LOCATION    58976 non-null  object
 8   DISCHARGE_LOCATION    58976 non-null  object
 9   INSURANCE             58976 non-null  object
 10  LANGUAGE              33644 non-null  object
 11  RELIGION              58518 non-null  object
 12  MARITAL_STATUS        48848 non-null  object
 13  ETHNICITY             58976 non-null  object
 14  EDREGTIME             30877 non-null  object
 15  EDOUTTIME             30877 non-null  object
 16  DIAGNOSIS             58951 non-null  object
 17  HOSPITAL_EXPIRE_FLAG  58976 non-null  int64
 18  HAS_CHARTEVENTS_DATA  58976 non-null  int64
 19  ROW_ID_PAT            58976 non-null  int64
 20  GENDER                58976 non-null  object
 21  DOB                   58976 non-null  object
 22  DOD                   22586 non-null  object
 23  DOD_HOSP              15071 non-null  object
 24  DOD_SSN               19069 non-null  object
 25  EXPIRE_FLAG           58976 non-null  int64
dtypes: int64(7), object(19)
memory usage: 11.7+ MB

In [20]:
print(admissions.isna().sum())

ROW_ID                      0
SUBJECT_ID                  0
HADM_ID                     0
ADMITTIME                   0
DISCHTIME                   0
DEATHTIME               53122
ADMISSION_TYPE              0
ADMISSION_LOCATION          0
DISCHARGE_LOCATION          0
INSURANCE                   0
LANGUAGE                25332
RELIGION                  458
MARITAL_STATUS          10128
ETHNICITY                   0
EDREGTIME               28099
EDOUTTIME               28099
DIAGNOSIS                  25
HOSPITAL_EXPIRE_FLAG        0
HAS_CHARTEVENTS_DATA        0
ROW_ID_PAT                  0
GENDER                      0
DOB                         0
DOD                     36390
DOD_HOSP                43905
DOD_SSN                 39907
EXPIRE_FLAG                 0
dtype: int64

In [21]:
print(admissions['ADMITTIME'].head(5))
print(admissions['DOB'].head(5))

0    2196-04-09 12:26:00
1    2153-09-03 07:15:00
2    2157-10-18 19:34:00
3    2139-06-06 16:14:00
4    2160-11-02 02:06:00
Name: ADMITTIME, dtype: object
0    2131-05-07 00:00:00
1    2082-07-17 00:00:00
2    2082-07-17 00:00:00
3    2100-05-31 00:00:00
4    2101-11-21 00:00:00
Name: DOB, dtype: object

### Calculating Age

In [22]:
admissions['ADMITTIME'] = pd.to_datetime(admissions['ADMITTIME'])
admissions['DOB'] = pd.to_datetime(admissions['DOB'])
admissions['admission_AGE'] = admissions.apply(lambda x: (x['ADMITTIME'].to_pydatetime() - x['DOB'].to_pydatetime()).days // 365.242, axis = 1)

### Filtering adults

In [23]:
admissions = admissions[admissions['admission_AGE'] >=18]

In [24]:
admissions.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID_PAT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,admission_AGE
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,0,1,19,F,2131-05-07,NaN,NaN,NaN,0,64.0
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,0,1,20,M,2082-07-17,NaN,NaN,NaN,0,71.0
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,0,1,20,M,2082-07-17,NaN,NaN,NaN,0,75.0
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,0,1,21,M,2100-05-31,NaN,NaN,NaN,0,39.0
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,0,1,22,M,2101-11-21,NaN,NaN,NaN,0,58.0

### Working with ICUSTAYS.csv

In [25]:
icustays = dfs['ICUSTAYS.csv']
icustays.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [26]:
icu = icustays.merge(patients, on='SUBJECT_ID', suffixes=('', '_PAT'), how='inner')

In [27]:
icu['INTIME'] = pd.to_datetime(icu['INTIME'])
icu['DOB'] = pd.to_datetime(icu['DOB'])
icu['icu_AGE'] = icu.apply(lambda x: (x['INTIME'].to_pydatetime() - x['DOB'].to_pydatetime()).days // 365.242, axis = 1)

In [28]:
icu.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS,ROW_ID_PAT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,icu_AGE
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490,251,F,2132-02-21,2198-02-18 00:00:00,2198-02-18 00:00:00,NaN,1,65.0
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788,252,M,2130-09-30,NaN,NaN,NaN,0,40.0
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939,253,M,2048-05-26,NaN,NaN,NaN,0,80.0
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600,254,F,2074-11-30,NaN,NaN,NaN,0,45.0
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202,255,M,2119-11-21,NaN,NaN,NaN,0,67.0

In [29]:
icu_admission_demographics = icu.merge(admissions, on=['SUBJECT_ID', 'HADM_ID'], suffixes=('', '_ADM'), how='inner')
icu_admission_demographics[['icu_AGE','admission_AGE']]

       icu_AGE  admission_AGE
0         65.0           65.0
1         40.0           40.0
2         80.0           80.0
3         45.0           45.0
4         67.0           67.0
...        ...            ...
53325     77.0           77.0
53326    300.0          300.0
53327     53.0           53.0
53328     67.0           67.0
53329     34.0           34.0

[53330 rows x 2 columns]

In [30]:
icu_admission_demographics.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS', 'ROW_ID_PAT', 'GENDER', 'DOB', 'DOD',
       'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG', 'icu_AGE', 'ROW_ID_ADM',
       'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE',
       'RELIGION', 'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME',
       'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA',
       'ROW_ID_PAT_ADM', 'GENDER_ADM', 'DOB_ADM', 'DOD_ADM', 'DOD_HOSP_ADM',
       'DOD_SSN_ADM', 'EXPIRE_FLAG_ADM', 'admission_AGE'],
      dtype='object')

In [31]:
# Count instances where icu_AGE is not equal to admission_AGE
count_diff = (icu_admission_demographics['icu_AGE'] != icu_admission_demographics['admission_AGE']).sum()
print("Number of instances where icu_AGE != admission_AGE:", count_diff)

Number of instances where icu_AGE != admission_AGE: 319

#### So, we consider only icu_AGE.

In [32]:
print(icu_admission_demographics['icu_AGE'].min())
icu_admission_demographics['admission_AGE'].min()

18.0

18.0

### SOFA Scores On ICU Day 1

| **Organ System**   | **0 points**                                            | **1 point**                                               | **2 points**                                         | **3 points**                                                                                    | **4 points**                                                                                     |
| ------------------ | ------------------------------------------------------- | --------------------------------------------------------- | ---------------------------------------------------- | ----------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------ |
| **Respiratory**    | PaO₂/FiO₂ ≥ 400 mmHg                                    | PaO₂/FiO₂ < 400 mmHg                                      | PaO₂/FiO₂ < 300 mmHg                                 | PaO₂/FiO₂ < 200 mmHg **and** mechanically ventilated                                            | PaO₂/FiO₂ < 100 mmHg **and** mechanically ventilated                                             |
| **Coagulation**    | Platelets ≥ 150 ×10³ µL                                 | Platelets < 150 ×10³ µL                                   | Platelets < 100 ×10³ µL                              | Platelets < 50 ×10³ µL                                                                          | Platelets < 20 ×10³ µL                                                                           |
| **Liver**          | Bilirubin < 1.2 mg/dL                                   | Bilirubin 1.2–1.9 mg/dL                                   | Bilirubin 2.0–5.9 mg/dL                              | Bilirubin 6.0–11.9 mg/dL                                                                        | Bilirubin ≥ 12.0 mg/dL                                                                           |
| **Cardiovascular** | MAP ≥ 70 mmHg                                           | MAP < 70 mmHg                                             | Dopamine ≤ 5 µg/kg/min **or** any dose of dobutamine | Dopamine > 5 µg/kg/min **or** epinephrine ≤ 0.1 µg/kg/min **or** norepinephrine ≤ 0.1 µg/kg/min | Dopamine > 15 µg/kg/min **or** epinephrine > 0.1 µg/kg/min **or** norepinephrine > 0.1 µg/kg/min |
| **CNS**            | GCS 15                                                  | GCS 13–14                                                 | GCS 10–12                                            | GCS 6–9                                                                                         | GCS < 6                                                                                          |
| **Renal**          | Creatinine < 1.2 mg/dL **or** urine output ≥ 500 mL/day | Creatinine 1.2–1.9 mg/dL **or** urine output < 500 mL/day | Creatinine 2.0–3.4 mg/dL                             | Creatinine 3.5–4.9 mg/dL **or** urine output < 500 mL/day                                       | Creatinine ≥ 5.0 mg/dL **or** urine output < 200 mL/day                                          |

* Total SOFA = sum of all six component scores (0–24). 
* An acute increase of ≥ 2 points from baseline indicates organ dysfunction consistent with sepsis‑3.

In [35]:
dfs['D_ITEMS.csv'].head()

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,Patient controlled analgesia (PCA) [Inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,PCA Lockout (Min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,PCA Medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,PCA Total Dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,PCV Exh Vt (Obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [46]:
(dfs['D_ITEMS.csv']['LABEL'].str.contains('Urine') == True).sum()

56

#### Urine output on first day

Ref : https://pages.doit.wisc.edu/JLMARTIN22/mimic-code/-/blob/anticoag/mimic-iii/concepts/firstday/urine_output_first_day.sql?ref_type=heads

In [ ]:
outputEvents = dfs['OUTPUTEVENTS.csv']
outputEvents.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'ITEMID',
       'VALUE', 'VALUEUOM', 'STORETIME', 'CGID', 'STOPPED', 'NEWBOTTLE',
       'ISERROR'],
      dtype='object')

In [ ]:
urine_itemids = [
    40055, 43175, 40069, 40094, 40715, 40473, 40085, 40057, 40056,
    40405, 40428, 40086, 40096, 40651, 226559, 226560, 226561, 226584,
    226563, 226564, 226565, 226567, 226557, 226558, 227488, 227489
]

requiredOutputEvents = outputEvents[outputEvents['ITEMID'].isin(urine_itemids)]

In [ ]:
oeMergeIcustays = icustays.merge(requiredOutputEvents, on=['SUBJECT_ID','HADM_ID','ICUSTAY_ID'], suffixes=('', '_OE'), how='left')
oeMergeIcustays.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS', 'ROW_ID_OE', 'CHARTTIME', 'ITEMID', 'VALUE',
       'VALUEUOM', 'STORETIME', 'CGID', 'STOPPED', 'NEWBOTTLE', 'ISERROR'],
      dtype='object')

In [ ]:
oeMergeIcustays['INTIME'] = pd.to_datetime(oeMergeIcustays['INTIME'])
oeMergeIcustays['CHARTTIME'] = pd.to_datetime(oeMergeIcustays['CHARTTIME'])

##### Filter for first day in ICU

In [ ]:
oeMergeIcustays = oeMergeIcustays[
    (oeMergeIcustays['CHARTTIME'] >= oeMergeIcustays['INTIME']) &
    (oeMergeIcustays['CHARTTIME'] <= oeMergeIcustays['INTIME'] + timedelta(days=1))
]

##### Adjust urine output: negative for GU irrigant (itemid 227488) when value > 0

In [ ]:
oeMergeIcustays['adjustedVal'] = oeMergeIcustays.apply(
    lambda row: -row['VALUE'] if row['ITEMID'] == 227488 and row['VALUE'] > 0 else row['VALUE'],
    axis=1
)

resultUO = oeMergeIcustays.groupby(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])['adjustedVal'].sum().reset_index()

resultUO = resultUO.rename(columns={'adjustedVal': 'urineOutput'})

urineOutputOnDay1 = resultUO.sort_values(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])

print(urineOutputOnDay1)

       SUBJECT_ID  HADM_ID  ICUSTAY_ID  urineOutput
0               3   145834      211552        497.0
1               4   185777      294638       2150.0
2               6   107064      228232       1940.0
3               8   159514      262299        150.0
4               9   150750      220597        887.0
...           ...      ...         ...          ...
53354       99985   176670      279638       1150.0
53355       99991   151118      226241       4330.0
53356       99992   197084      242052       1570.0
53357       99995   137810      229633       1495.0
53358       99999   113369      246512       4510.0

[53359 rows x 4 columns]

#### Vitals on First Day

Ref : https://pages.doit.wisc.edu/JLMARTIN22/mimic-code/-/blob/anticoag/mimic-iii/concepts/firstday/vitals_first_day.sql?ref_type=heads

In [59]:
vital_itemids = {
    'heartrate': [211, 220045],
    'sysbp': [51, 442, 455, 6701, 220179, 220050],
    'diasbp': [8368, 8440, 8441, 8555, 220180, 220051],
    'meanbp': [456, 52, 6702, 443, 220052, 220181, 225312],
    'resprate': [615, 618, 220210, 224690],
    'tempc': [676, 223762],  # Temperature in Celsius
    'tempf': [678, 223761],  # Temperature in Fahrenheit
    'spo2': [646, 220277],
    'glucose': [807, 811, 1529, 3745, 3744, 225664, 220621, 226537]
}

all_itemids = [item for sublist in vital_itemids.values() for item in sublist]

In [60]:
ce_filtered = chartEvents[ (chartEvents['ITEMID'].isin(all_itemids)) & (chartEvents['ERROR'].isna() | (chartEvents['ERROR'] == 0))]

In [68]:
icuCE = icustays.merge(ce_filtered, on=['ICUSTAY_ID'], suffixes=['','_CE'], how='left')
icuCE.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS', 'ROW_ID_CE', 'SUBJECT_ID_CE', 'HADM_ID_CE',
       'ITEMID', 'CHARTTIME', 'STORETIME', 'CGID', 'VALUE', 'VALUENUM',
       'VALUEUOM', 'WARNING', 'ERROR', 'RESULTSTATUS', 'STOPPED'],
      dtype='object')

##### Filter for first day in ICU

In [69]:
icuCE['CHARTTIME'] = pd.to_datetime(icuCE['CHARTTIME'])
icuCE['INTIME'] = pd.to_datetime(icuCE['INTIME'])

icuCE = icuCE[
    (icuCE['CHARTTIME'] >= icuCE['INTIME']) &
    (icuCE['CHARTTIME'] <= icuCE['INTIME'] + timedelta(days=1))
]

In [70]:
# Assign VitalID based on itemid
# returns the first VALUENUM for the given itemid
def assign_vitalid(itemid):
    if itemid in vital_itemids['heartrate'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 300:
        return 1  # HeartRate
    elif itemid in vital_itemids['sysbp'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 400:
        return 2  # SysBP
    elif itemid in vital_itemids['diasbp'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 300:
        return 3  # DiasBP
    elif itemid in vital_itemids['meanbp'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 300:
        return 4  # MeanBP
    elif itemid in vital_itemids['resprate'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 70:
        return 5  # RespRate
    elif itemid in vital_itemids['tempc'] and 10 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 50:
        return 6  # TempC
    elif itemid in vital_itemids['tempf'] and 70 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 120:
        return 6  # TempF (will be converted to Celsius)
    elif itemid in vital_itemids['spo2'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] <= 100:
        return 7  # SpO2
    elif itemid in vital_itemids['glucose'] and icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] > 0:
        return 8  # Glucose
    return None

icuCE['vitalid'] = icuCE['ITEMID'].apply(assign_vitalid)

KeyboardInterrupt:

In [ ]:
# Convert Fahrenheit to Celsius for tempf items
icuCE['VALUENUM'] = icuCE.apply(
    lambda row: (row['VALUENUM'] - 32) / 1.8 if row['ITEMID'] in vital_itemids['tempf'] else row['VALUENUM'],
    axis=1
)

# Filter out rows where vitalid is None
icuCE = icuCE[icuCE['vitalid'].notna()]

# Pivot table to calculate min, max, mean for each vital sign
pivot_df = icuCE.pivot_table(
    values='VALUENUM',
    index=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'],
    columns='vitalid',
    aggfunc=['min', 'max', 'mean']
)

# Flatten multi-level column names
pivot_df.columns = [
    f"{vital}_{agg}" for agg, vital_id in pivot_df.columns
    for vital in [
        'heartrate' if vital_id == 1 else
        'sysbp' if vital_id == 2 else
        'diasbp' if vital_id == 3 else
        'meanbp' if vital_id == 4 else
        'resprate' if vital_id == 5 else
        'tempc' if vital_id == 6 else
        'spo2' if vital_id == 7 else
        'glucose' if vital_id == 8 else ''
    ]
]

result = pivot_df.reset_index()

result = result.sort_values(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])

columns = [
    'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID',
    'heartrate_min', 'heartrate_max', 'heartrate_mean',
    'sysbp_min', 'sysbp_max', 'sysbp_mean',
    'diasbp_min', 'diasbp_max', 'diasbp_mean',
    'meanbp_min', 'meanbp_max', 'meanbp_mean',
    'resprate_min', 'resprate_max', 'resprate_mean',
    'tempc_min', 'tempc_max', 'tempc_mean',
    'spo2_min', 'spo2_max', 'spo2_mean',
    'glucose_min', 'glucose_max', 'glucose_mean'
]

vitalsOnDay1 = result[columns]

vitalsOnDay1

#### Lab values in first day

Ref : https://pages.doit.wisc.edu/JLMARTIN22/mimic-code/-/blob/anticoag/mimic-iii/concepts/firstday/labs_first_day.sql?ref_type=heads

In [ ]:
labEvents = dfs['LABEVENTS.csv']

In [ ]:
# Define lab ITEMIDs and their corresponding labels
lab_itemids = {
    'ANION GAP': [50868],
    'ALBUMIN': [50862],
    'BANDS': [51144],
    'BICARBONATE': [50882],
    'BILIRUBIN': [50885],
    'CREATININE': [50912],
    'CHLORIDE': [50902, 50806],
    'GLUCOSE': [50931, 50809],
    'HEMATOCRIT': [51221, 50810],
    'HEMOGLOBIN': [51222, 50811],
    'LACTATE': [50813],
    'PLATELET': [51265],
    'POTASSIUM': [50971, 50822],
    'PTT': [51275],
    'INR': [51237],
    'PT': [51274],
    'SODIUM': [50983, 50824],
    'BUN': [51006],
    'WBC': [51301, 51300]
}

# Flatten itemids for filtering
all_labitemids = [item for sublist in lab_itemids.values() for item in sublist]

# Define sanity check thresholds
sanity_checks = {
    50862: (None, 10),       # ALBUMIN: <= 10 g/dL
    50868: (None, 10000),    # ANION GAP: <= 10000 mEq/L
    51144: (0, 100),         # BANDS: 0 to 100 %
    50882: (None, 10000),    # BICARBONATE: <= 10000 mEq/L
    50885: (None, 150),      # BILIRUBIN: <= 150 mg/dL
    50902: (None, 10000),    # CHLORIDE: <= 10000 mEq/L
    50806: (None, 10000),    # CHLORIDE: <= 10000 mEq/L
    50912: (None, 150),      # CREATININE: <= 150 mg/dL
    50931: (None, 10000),    # GLUCOSE: <= 10000 mg/dL
    50809: (None, 10000),    # GLUCOSE: <= 10000 mg/dL
    51221: (None, 100),      # HEMATOCRIT: <= 100 %
    50810: (None, 100),      # HEMATOCRIT: <= 100 %
    51222: (None, 50),       # HEMOGLOBIN: <= 50 g/dL
    50811: (None, 50),       # HEMOGLOBIN: <= 50 g/dL
    50813: (None, 50),       # LACTATE: <= 50 mmol/L
    51265: (None, 10000),    # PLATELET: <= 10000 K/uL
    50971: (None, 30),       # POTASSIUM: <= 30 mEq/L
    50822: (None, 30),       # POTASSIUM: <= 30 mEq/L
    51275: (None, 150),      # PTT: <= 150 sec
    51237: (None, 50),       # INR: <= 50
    51274: (None, 150),      # PT: <= 150 sec
    50983: (None, 200),      # SODIUM: <= 200 mEq/L
    50824: (None, 200),      # SODIUM: <= 200 mEq/L
    51006: (None, 300),      # BUN: <= 300
    51301: (None, 1000),     # WBC: <= 1000
    51300: (None, 1000)      # WBC: <= 1000
}

In [ ]:
le_filtered = labEvents[
    (labEvents['ITEMIDS'].isin(all_labitemids)) &
    (labEvents['VALUENUM'].notna()) &
    (labEvents['VALUENUM'] > 0)
]

# Apply sanity checks
for itemid, (min_val, max_val) in sanity_checks.items():
    if min_val is not None:
        le_filtered = le_filtered[
            ~((le_filtered['ITEMID'] == itemid) & (le_filtered['VALUENUM'] < min_val))
        ]
    if max_val is not None:
        le_filtered = le_filtered[
            ~((le_filtered['ITEMID'] == itemid) & (le_filtered['VALUENUM'] > max_val))
        ]

# Assign labels to ITEMIDs
def assign_label(itemid):
    for label, itemids in lab_itemids.items():
        if itemid in itemids:
            return label
    return None

le_filtered['label'] = le_filtered['ITEMID'].apply(assign_label)

In [ ]:
icuLabEvents = icustays.merge(le_filtered, on=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'], suffixes=['','_LE'], how='left')

icuLabEvents['CHARTTIME'] = pd.to_datetime(icuLabEvents['CHARTTIME'])
icuLabEvents['INTIME'] = pd.to_datetime(icuLabEvents['INTIME'])

# Filter for CHARTTIME within 6 hours before INTIME to 1 day after INTIME
icuLabEvents = icuLabEvents[
    (icuLabEvents['CHARTTIME'] >= icuLabEvents['INTIME'] - timedelta(hours=6)) &
    (icuLabEvents['CHARTTIME'] <= icuLabEvents['INTIME'] + timedelta(days=1))
]

# Pivot to calculate min and max for each lab measurement
pivot_df = icuLabEvents.pivot_table(
    values='VALUENUM',
    index=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'],
    columns='label',
    aggfunc=['min', 'max']
)

# Flatten multi-level column names
pivot_df.columns = [f"{label.lower()}_{agg}" for agg, label in pivot_df.columns]

# Reset index to make subject_id, hadm_id, icustay_id columns
result = pivot_df.reset_index()
result = result.sort_values(['subject_id', 'hadm_id', 'icustay_id'])

columns = [
    'subject_id', 'hadm_id', 'icustay_id',
    'aniongap_min', 'aniongap_max',
    'albumin_min', 'albumin_max',
    'bands_min', 'bands_max',
    'bicarbonate_min', 'bicarbonate_max',
    'bilirubin_min', 'bilirubin_max',
    'creatinine_min', 'creatinine_max',
    'chloride_min', 'chloride_max',
    'glucose_min', 'glucose_max',
    'hematocrit_min', 'hematocrit_max',
    'hemoglobin_min', 'hemoglobin_max',
    'lactate_min', 'lactate_max',
    'platelet_min', 'platelet_max',
    'potassium_min', 'potassium_max',
    'ptt_min', 'ptt_max',
    'inr_min', 'inr_max',
    'pt_min', 'pt_max',
    'sodium_min', 'sodium_max',
    'bun_min', 'bun_max',
    'wbc_min', 'wbc_max'
]

labEventsOnDay1 = result[columns]
print(labEventsOnDay1)

#### Glasgow Coma Scale (GCS) on first day

In [ ]:
gcs_itemids = {
    'GCSVerbal': [723, 223900],  # CareVue: 723, MetaVision: 223900
    'GCSMotor': [454, 223901],   # CareVue: 454, MetaVision: 223901
    'GCSEyes': [184, 220739]     # CareVue: 184, MetaVision: 220739
}

all_gcsitemids = [item for sublist in gcs_itemids.values() for item in sublist]

gcsce_filtered = chartEvents[
    (chartEvents['ITEMID'].isin(all_itemids)) &
    (chartEvents['ERROR'].isna() | (chartEvents['ERROR'] == 0))
]

In [ ]:
def map_itemid(itemid):
    if itemid in [723, 223900]:
        return 723  # GCSVerbal
    elif itemid in [454, 223901]:
        return 454  # GCSMotor
    elif itemid in [184, 220739]:
        return 184  # GCSEyes
    return itemid

In [ ]:
gcsce_filtered['ITEMID_mapped'] = ce_filtered['ITEMID'].apply(map_itemid)

In [ ]:
# Convert VALUENUM, setting endotracheal/trach to 0
def convert_valuenum(row):
    if row['ITEM'] == 723 and row['VALUE'] == '1.0 ET/Trach':
        return 0
    elif row['ITEM'] == 223900 and row['VALUE'] == 'No Response-ETT':
        return 0
    return row['VALUENUM']

gcsce_filtered['VALUENUM'] = gcsce_filtered.apply(convert_valuenum, axis=1)

In [ ]:
gcsceIcu = icustays.merge(gcsce_filtered, on=['SUBJECT_ID','HADM_ID','ICUSTAY_ID'], suffixes=['','_GCSCE'], how='left')

gcsceIcu['CHARTTIME'] = pd.to_datetime(gcsceIcu['CHARTTIME'])
gcsceIcu['INTIME'] = pd.to_datetime(gcsceIcu['INTIME'])

# Filter for CHARTTIME within first 24 hours
gcsceIcu24 = gcsceIcu[
    (gcsceIcu['CHARTTIME'] >= gcsceIcu['INTIME']) &
    (gcsceIcu['CHARTTIME'] <= gcsceIcu['INTIME'] + timedelta(days=1))
]

# Pivot to get GCS components per charttime
pivot_df = gcsceIcu24.pivot_table(
    values='VALUENUM',
    index=['ICUSTAY_ID', 'CHARTTIME'],
    columns='ITEMID_mapped',
    aggfunc='max'
).reset_index()

pivot_df.columns = ['icustay_id', 'charttime', 'GCSEyes', 'GCSMotor', 'GCSVerbal']

In [ ]:
# Create EndoTrachFlag (1 if GCSVerbal = 0, else 0)
pivot_df['EndoTrachFlag'] = (pivot_df['GCSVerbal'] == 0).astype(int)

# Add row number per ICUSTAY_ID, ordered by CHARTTIME
pivot_df['rn'] = pivot_df.groupby('ICUSTAY_ID')['CHARTTIME'].rank(method='first').astype(int)

# Self-join to get previous values within 6 hours
pivot_df_shifted = pivot_df.copy()
pivot_df_shifted['rn'] = pivot_df_shifted['rn'] - 1

gcs_df = pd.merge(
    pivot_df,
    pivot_df_shifted[['ICUSTAY_ID', 'rn', 'CHARTTIME', 'GCSVerbal', 'GCSMotor', 'GCSEyes']],
    on=['ICUSTAY_ID', 'rn'],
    how='left',
    suffixes=('', '_Prev')
)

# Filter for previous CHARTTIME within 6 hours
gcs_df = gcs_df[
    (gcs_df['CHARTTIME_Prev'].isna()) |
    (gcs_df['CHARTTIME_Prev'] > gcs_df['CHARTTIME'] - timedelta(hours=6))
]

In [ ]:
# Calculate GCS with special handling for intubated patients
def calculate_gcs(row):
    if row['GCSVerbal'] == 0 or (pd.isna(row['GCSVerbal']) and row['GCSVerbal_Prev'] == 0):
        return 15  # Sedated/intubated patients get GCS of 15
    elif row['GCSVerbal_Prev'] == 0:
        return (
            (row['GCSMotor'] if pd.notna(row['GCSMotor']) else 6) +
            (row['GCSVerbal'] if pd.notna(row['GCSVerbal']) else 5) +
            (row['GCSEyes'] if pd.notna(row['GCSEyes']) else 4)
        )
    else:
        return (
            (row['GCSMotor'] if pd.notna(row['GCSMotor']) else row['GCSMotor_Prev'] if pd.notna(row['GCSMotor_Prev']) else 6) +
            (row['GCSVerbal'] if pd.notna(row['GCSVerbal']) else row['GCSVerbal_Prev'] if pd.notna(row['GCSVerbal_Prev']) else 5) +
            (row['GCSEyes'] if pd.notna(row['GCSEyes']) else row['GCSEyes_Prev'] if pd.notna(row['GCSEyes_Prev']) else 4)
        )

gcs_df['GCS'] = gcs_df.apply(calculate_gcs, axis=1)

In [ ]:
# Identify minimum GCS per icustay_id
gcs_df['IsMinGCS'] = gcs_df.groupby('icustay_id')['GCS'].rank(method='min').astype(int)

# Filter for minimum GCS
gcs_final = gcs_df[gcs_df['IsMinGCS'] == 1]

# Select final columns and merge with icustays
icuGcs = icustays.merge(gcs_final, on='ICUSTAY_ID', how='left')

# Coalesce current and previous GCS components
icuGcs['gcsmotor'] = icuGcs['GCSMotor'].combine_first(icuGcs['GCSMotor_Prev'])
icuGcs['gcsverbal'] = icuGcs['GCSVerbal'].combine_first(icuGcs['GCSVerbal_Prev'])
icuGcs['gcseyes'] = icuGcs['GCSEyes'].combine_first(icuGcs['GCSEyes_Prev'])

# Select and rename final columns
icuGcs = icuGcs[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'GCS', 'gcsmotor', 'gcsverbal', 'gcseyes', 'EndoTrachFlag']]
icuGcs = icuGcs.rename(columns={'GCS': 'min_gcs', 'EndoTrachFlag': 'endotrach_flag'})

# Sort by icustay_id
icuGcs = icuGcs.sort_values('icustay_id')

print(icuGcs)

#### First day blood gas

In [ ]:
blood_gas_itemids = {
    'SPECIMEN': [50800],
    'AADO2': [50801],
    'BASEEXCESS': [50802],
    'BICARBONATE': [50803],
    'TOTALCO2': [50804],
    'CARBOXYHEMOGLOBIN': [50805],
    'CHLORIDE': [50806],
    'CALCIUM': [50808],
    'GLUCOSE': [50809],
    'HEMATOCRIT': [50810],
    'HEMOGLOBIN': [50811],
    'INTUBATED': [50812],
    'LACTATE': [50813],
    'METHEMOGLOBIN': [50814],
    'O2FLOW': [50815],
    'FIO2': [50816],
    'SO2': [50817],  # OXYGENSATURATION
    'PCO2': [50818],
    'PEEP': [50819],
    'PH': [50820],
    'PO2': [50821],
    'POTASSIUM': [50822],
    'REQUIREDO2': [50823],
    'SODIUM': [50824],
    'TEMPERATURE': [50825],
    'TIDALVOLUME': [50826],
    'VENTILATIONRATE': [50827],
    'VENTILATOR': [50828]
}

all_bgitemids = [item for sublist in blood_gas_itemids.values() for item in sublist] + [51545]

lebg_filtered = labEvents[labEvents['ITEMID'].isin(all_itemids)]

In [ ]:
sanity_checks = {
    50810: (None, 100),    # HEMATOCRIT: <= 100
    50816: (20, 100),      # FIO2: 20 to 100
    50817: (None, 100),    # SO2: <= 100
    50815: (None, 70),     # O2FLOW: <= 70
    50821: (None, 800)     # PO2: <= 800
}

# Apply sanity checks and filter out non-positive VALUENUM (except for BASEEXCESS)
lebg_filtered = lebg_filtered[lebg_filtered['VALUENUM'].notna()]
for itemid, (min_val, max_val) in sanity_checks.items():
    if min_val is not None:
        lebg_filtered = lebg_filtered[
            ~((lebg_filtered['ITEMID'] == itemid) & (lebg_filtered['VALUENUM'] < min_val))
        ]
    if max_val is not None:
        lebg_filtered = lebg_filtered[
            ~((lebg_filtered['ITEMID'] == itemid) & (lebg_filtered['VALUENUM'] > max_val))
        ]

# Allow negative values for BASEEXCESS (itemid 50802), otherwise VALUENUM > 0
lebg_filtered = lebg_filtered[
    (lebg_filtered['ITEMID'] == 50802) | (lebg_filtered['VALUENUM'] > 0)
]

In [ ]:
def assign_label(itemid):
    for label, itemids in blood_gas_itemids.items():
        if itemid in itemids:
            return label
    return None

lebg_filtered['label'] = lebg_filtered['ITEMID'].apply(assign_label)

In [ ]:
icu_lebg = icustays.merge(lebg_filtered, on=['SUBJECT_ID','HADM_ID','ICUSTAY_ID'], suffixes=['','_BG'], how='left')

In [ ]:
# Ensure datetime columns are in datetime format
icu_lebg['CHARTTIME'] = pd.to_datetime(icu_lebg['CHARTTIME'])
icu_lebg['INTIME'] = pd.to_datetime(icu_lebg['INTIME'])

# Filter for CHARTTIME within 6 hours before INTIME to 1 day after INTIME
icu_lebg = icu_lebg[
    (icu_lebg['CHARTTIME'] >= icu_lebg['INTIME'] - timedelta(hours=6)) &
    (icu_lebg['CHARTTIME'] <= icu_lebg['INTIME'] + timedelta(days=1))
]

In [ ]:
blood_gas_first_day = icu_lebg.pivot_table(
    values=['VALUE', 'VALUENUM'],
    index=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME'],
    columns='label',
    aggfunc={'VALUE': 'max', 'VALUENUM': 'max'}
).reset_index()

In [ ]:
blood_gas_first_day.columns = [
    col[0] if col[1] == '' else col[1].lower() if col[0] == 'VALUENUM' else col[1].lower()
    for col in blood_gas_first_day.columns
]

In [ ]:
columns = [
    'subject_id', 'hadm_id', 'icustay_id', 'charttime',
    'specimen', 'aado2', 'baseexcess', 'bicarbonate', 'totalco2', 'carboxyhemoglobin',
    'chloride', 'calcium', 'glucose', 'hematocrit', 'hemoglobin', 'intubated',
    'lactate', 'methemoglobin', 'o2flow', 'fio2', 'so2', 'pco2', 'peep', 'ph',
    'po2', 'potassium', 'requiredo2', 'sodium', 'temperature', 'tidalvolume',
    'ventilationrate', 'ventilator'
]
blood_gas_first_day = blood_gas_first_day[columns]

print(blood_gas_first_day)

#### Blood Gas Arterial

In [ ]:
spo2_itemids = [646, 220277]  # SpO2, O2 saturation pulseoxymetry
stg_spo2 = chartEvents[chartEvents['ITEMID'].isin(spo2_itemids)]
stg_spo2 = stg_spo2[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'VALUENUM']]
stg_spo2.columns = [col.lower() for col in stg_spo2.columns]

In [ ]:
# Filter out invalid SpO2 values (≤ 0 or > 100)
stg_spo2 = stg_spo2[
    (stg_spo2['valuenum'] > 0) & (stg_spo2['valuenum'] <= 100)
]
# Group by subject_id, hadm_id, icustay_id, charttime to get max SpO2
stg_spo2 = stg_spo2.groupby(['subject_id', 'hadm_id', 'icustay_id', 'charttime'])['valuenum'].max().reset_index()
stg_spo2 = stg_spo2.rename(columns={'valuenum': 'spo2'})

In [ ]:
fio2_itemids = [3420, 3422, 190, 223835]  # FiO2, FiO2 set, Inspired O2 Fraction, FiO2 [measured]
stg_fio2 = chartEvents[
    (chartEvents['ITEMID'].isin(fio2_itemids)) &
    (chartEvents['ERROR'].isna() | (chartEvents['ERROR'] == 0))
]
stg_fio2.columns = [col.lower() for col in stg_fio2.columns]
stg_fio2 = stg_fio2[['subject_id', 'hadm_id', 'icustay_id', 'charttime', 'itemid', 'valuenum']]

In [ ]:
# Pre-process FiO2 values
def process_fio2(row):
    if row['itemid'] == 223835:
        if 0 < row['valuenum'] <= 1:
            return row['valuenum'] * 100
        elif 21 <= row['valuenum'] <= 100:
            return row['valuenum']
        else:
            return None
    elif row['itemid'] in [3420, 3422]:
        return row['valuenum']
    elif row['itemid'] == 190 and 0.20 < row['valuenum'] < 1:
        return row['valuenum'] * 100
    return None

stg_fio2['fio2_chartevents'] = stg_fio2.apply(process_fio2, axis=1)

In [ ]:
stg_fio2 = stg_fio2[stg_fio2['fio2_chartevents'].notna()]

In [ ]:
stg_fio2 = stg_fio2.groupby(['subject_id', 'hadm_id', 'icustay_id', 'charttime'])['fio2_chartevents'].max().reset_index()

In [ ]:
stg_spo2['charttime'] = pd.to_datetime(stg_spo2['charttime'])

In [ ]:
blood_gas_first_day['charttime'] = pd.to_datetime(blood_gas_first_day['charttime'])

In [ ]:
stg2 = pd.merge(
    blood_gas_first_day,
    stg_spo2[['icustay_id', 'charttime', 'spo2']],
    on='icustay_id',
    how='left'
)
# Filter for SpO2 within 2 hours before blood gas charttime
stg2 = stg2[
    (stg2['charttime_y'].isna()) |
    ((stg2['charttime_y'] >= stg2['charttime_x'] - timedelta(hours=2)) &
     (stg2['charttime_y'] <= stg2['charttime_x']))
]

# Assign row number to get the most recent SpO2
stg2['lastRowSpO2'] = stg2.groupby(['icustay_id', 'charttime_x'])['charttime_y'].rank(method='dense', ascending=False).astype(int)
stg2 = stg2[stg2['lastRowSpO2'] == 1]
# Rename charttime_x back to charttime
stg2 = stg2.rename(columns={'charttime_x': 'charttime'}).drop(columns=['charttime_y'])

In [ ]:
stg_fio2['charttime'] = pd.to_datetime(stg_fio2['charttime'])
stg3 = pd.merge(
    stg2,
    stg_fio2[['icustay_id', 'charttime', 'fio2_chartevents']],
    on='icustay_id',
    how='left'
)

stg3 = stg3[
    (stg3['charttime_y'].isna()) |
    ((stg3['charttime_y'] >= stg3['charttime_x'] - timedelta(hours=4)) &
     (stg3['charttime_y'] <= stg3['charttime_x']))
]

# Assign row number to get the most recent FiO2
stg3['lastRowFiO2'] = stg3.groupby(['icustay_id', 'charttime_x'])['charttime_y'].rank(method='dense', ascending=False).astype(int)
stg3 = stg3[stg3['lastRowFiO2'] == 1]
# Rename charttime_x back to charttime
stg3 = stg3.rename(columns={'charttime_x': 'charttime'}).drop(columns=['charttime_y'])

# Filter for non-null po2
stg3 = stg3[stg3['po2'].notna()]

In [ ]:
coeffs = {
    'po2': 0.04598,
    'spo2': -0.15356, 'spo2_mean': 97.49420, 'spo2_offset': 0.13429,
    'fio2_chartevents': 0.00621, 'fio2_chartevents_mean': 51.49550, 'fio2_chartevents_offset': -0.24958,
    'hemoglobin': 0.10559, 'hemoglobin_mean': 10.32307, 'hemoglobin_offset': 0.05954,
    'so2': 0.13251, 'so2_mean': 93.66539, 'so2_offset': -0.23172,
    'pco2': -0.01511, 'pco2_mean': 42.08866, 'pco2_offset': -0.01630,
    'fio2': 0.01480, 'fio2_mean': 63.97836, 'fio2_offset': -0.31142,
    'aado2': -0.00200, 'aado2_mean': 442.21186, 'aado2_offset': -0.01328,
    'bicarbonate': -0.03220, 'bicarbonate_mean': 22.96894, 'bicarbonate_offset': -0.06535,
    'totalco2': 0.05384, 'totalco2_mean': 24.72632, 'totalco2_offset': -0.01405,
    'lactate': 0.08202, 'lactate_mean': 3.06436, 'lactate_offset': 0.06038,
    'ph': 0.10956, 'ph_mean': 7.36233, 'ph_offset': -0.00617,
    'o2flow': 0.00848, 'o2flow_mean': 7.59362, 'o2flow_offset': -0.35803,
    'intercept': -0.02544
}

def calculate_specimen_prob(row):
    log_odds = coeffs['intercept']
    for var in ['po2', 'spo2', 'fio2_chartevents', 'hemoglobin', 'so2', 'pco2', 'fio2', 
                'aado2', 'bicarbonate', 'totalco2', 'lactate', 'ph', 'o2flow']:
        value = row[var] if pd.notna(row[var]) else coeffs[f'{var}_mean']
        log_odds += coeffs[var] * value
        if pd.isna(row[var]):
            log_odds += coeffs[f'{var}_offset']
    return 1 / (1 + np.exp(-log_odds))

stg3['specimen_prob'] = stg3.apply(calculate_specimen_prob, axis=1)

In [ ]:
# Step 6: Create SPECIMEN_PRED
stg3['specimen_pred'] = stg3.apply(
    lambda row: row['specimen'] if pd.notna(row['specimen']) else 'ART' if row['specimen_prob'] > 0.75 else None,
    axis=1
)

In [ ]:
# Step 7: Calculate AADO2_calc and PaO2FiO2
stg3['AADO2_calc'] = stg3.apply(
    lambda row: (
        (row['fio2'] if pd.notna(row['fio2']) else row['fio2_chartevents']) / 100 * (760 - 47) - 
        row['pco2'] / 0.8 - row['po2']
    ) if pd.notna(row['po2']) and pd.notna(row['pco2']) and pd.notna(row['fio2'] if pd.notna(row['fio2']) else row['fio2_chartevents']) 
    else None,
    axis=1
)

stg3['PaO2FiO2'] = stg3.apply(
    lambda row: (
        100 * row['po2'] / (row['fio2'] if pd.notna(row['fio2']) else row['fio2_chartevents'])
    ) if pd.notna(row['po2']) and pd.notna(row['fio2'] if pd.notna(row['fio2']) else row['fio2_chartevents']) 
    else None,
    axis=1
)

In [ ]:
bga = stg3[
    (stg3['lastRowFiO2'] == 1) &
    ((stg3['specimen'] == 'ART') | (stg3['specimen_prob'] > 0.75))
]

# Select final columns
columns = [
    'subject_id', 'hadm_id', 'icustay_id', 'charttime',
    'specimen', 'specimen_pred', 'specimen_prob',
    'so2', 'spo2', 'po2', 'pco2', 'fio2_chartevents', 'fio2', 'aado2', 'AADO2_calc', 'PaO2FiO2',
    'ph', 'baseexcess', 'bicarbonate', 'totalco2',
    'hematocrit', 'hemoglobin', 'carboxyhemoglobin', 'methemoglobin',
    'chloride', 'calcium', 'temperature', 'potassium', 'sodium', 'lactate', 'glucose',
    'intubated', 'tidalvolume', 'ventilationrate', 'ventilator', 'peep', 'o2flow', 'requiredo2'
]
bga = bga[columns]

# Sort by icustay_id, charttime
bga = bga.sort_values(['icustay_id', 'charttime'])

print(bga)