In [58]:
import pandas as pd
from databasePath import path
import os
from datetime import timedelta

In [9]:
folder_path = path
files = os.listdir(folder_path)
reqFiles = []
for file in files:
    if file.endswith('.csv'):
        reqFiles.append(file)

In [10]:
len(reqFiles)

26

In [11]:
reqFiles

['PROCEDUREEVENTS_MV.csv',
 'CALLOUT.csv',
 'D_CPT.csv',
 'D_ITEMS.csv',
 'CAREGIVERS.csv',
 'MICROBIOLOGYEVENTS.csv',
 'LABEVENTS.csv',
 'INPUTEVENTS_CV.csv',
 'ADMISSIONS.csv',
 'D_LABITEMS.csv',
 'DATETIMEEVENTS.csv',
 'PRESCRIPTIONS.csv',
 'PROCEDURES_ICD.csv',
 'NOTEEVENTS.csv',
 'CHARTEVENTS.csv',
 'TRANSFERS.csv',
 'DIAGNOSES_ICD.csv',
 'SERVICES.csv',
 'DRGCODES.csv',
 'OUTPUTEVENTS.csv',
 'PATIENTS.csv',
 'D_ICD_DIAGNOSES.csv',
 'ICUSTAYS.csv',
 'INPUTEVENTS_MV.csv',
 'D_ICD_PROCEDURES.csv',
 'CPTEVENTS.csv']

In [12]:
patients = pd.read_csv(f'{path}/patients.csv')

In [13]:
print(patients.shape)
print(patients.columns)

(46520, 8)
Index(['ROW_ID', 'SUBJECT_ID', 'GENDER', 'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN',
       'EXPIRE_FLAG'],
      dtype='object')

In [14]:
chartEventsChunk = []
for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):
    chartEventsChunk.append(chunk)

chartEvents = pd.concat(chartEventsChunk)

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/143005368.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):
/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/143005368.py:2: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):
/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/143005368.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):

In [15]:
chartEvents.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME',
       'STORETIME', 'CGID', 'VALUE', 'VALUENUM', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'],
      dtype='object')

In [16]:
chartEvents.head(5)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788,36,165660,241249.0,223834,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,15.0,15.00,L/min,0.0,0.0,NaN,NaN
1,789,36,165660,241249.0,223835,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,100.0,100.00,NaN,0.0,0.0,NaN,NaN
2,790,36,165660,241249.0,224328,2134-05-12 12:00:00,2134-05-12 12:18:00,20823.0,0.37,0.37,NaN,0.0,0.0,NaN,NaN
3,791,36,165660,241249.0,224329,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,6.0,6.00,min,0.0,0.0,NaN,NaN
4,792,36,165660,241249.0,224330,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,2.5,2.50,NaN,0.0,0.0,NaN,NaN

In [17]:
dfs = {}
dfCols = []

reqFiles.remove('PATIENTS.csv')
reqFiles.remove('CHARTEVENTS.csv')

for file in reqFiles:
    print("-----------------------")
    print("FILE : ",file)
    df = pd.read_csv(f"{path}/{file}")
    dfs[file] = df

-----------------------
FILE :  PROCEDUREEVENTS_MV.csv

-----------------------
FILE :  CALLOUT.csv
-----------------------
FILE :  D_CPT.csv
-----------------------
FILE :  D_ITEMS.csv
-----------------------
FILE :  CAREGIVERS.csv
-----------------------
FILE :  MICROBIOLOGYEVENTS.csv
-----------------------
FILE :  LABEVENTS.csv
-----------------------
FILE :  INPUTEVENTS_CV.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (7,9,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  ADMISSIONS.csv
-----------------------
FILE :  D_LABITEMS.csv
-----------------------
FILE :  DATETIMEEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  PRESCRIPTIONS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  PROCEDURES_ICD.csv
-----------------------
FILE :  NOTEEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

-----------------------
FILE :  TRANSFERS.csv
-----------------------
FILE :  DIAGNOSES_ICD.csv
-----------------------
FILE :  SERVICES.csv
-----------------------
FILE :  DRGCODES.csv
-----------------------
FILE :  OUTPUTEVENTS.csv
-----------------------
FILE :  D_ICD_DIAGNOSES.csv
-----------------------
FILE :  ICUSTAYS.csv
-----------------------
FILE :  INPUTEVENTS_MV.csv
-----------------------
FILE :  D_ICD_PROCEDURES.csv
-----------------------
FILE :  CPTEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_32852/3134157820.py:10: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

### Working with Admissions.csv

In [18]:
admissions = dfs['ADMISSIONS.csv'].merge(patients, on='SUBJECT_ID', suffixes=('', '_PAT'), how='inner')
print(admissions.columns)

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME',
       'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA', 'ROW_ID_PAT', 'GENDER',
       'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG'],
      dtype='object')

In [19]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58976 entries, 0 to 58975
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ROW_ID                58976 non-null  int64
 1   SUBJECT_ID            58976 non-null  int64
 2   HADM_ID               58976 non-null  int64
 3   ADMITTIME             58976 non-null  object
 4   DISCHTIME             58976 non-null  object
 5   DEATHTIME             5854 non-null   object
 6   ADMISSION_TYPE        58976 non-null  object
 7   ADMISSION_LOCATION    58976 non-null  object
 8   DISCHARGE_LOCATION    58976 non-null  object
 9   INSURANCE             58976 non-null  object
 10  LANGUAGE              33644 non-null  object
 11  RELIGION              58518 non-null  object
 12  MARITAL_STATUS        48848 non-null  object
 13  ETHNICITY             58976 non-null  object
 14  EDREGTIME             30877 non-null  object
 15  EDOUTTIME             30877 non-null  object
 16  DIAGNOSIS             58951 non-null  object
 17  HOSPITAL_EXPIRE_FLAG  58976 non-null  int64
 18  HAS_CHARTEVENTS_DATA  58976 non-null  int64
 19  ROW_ID_PAT            58976 non-null  int64
 20  GENDER                58976 non-null  object
 21  DOB                   58976 non-null  object
 22  DOD                   22586 non-null  object
 23  DOD_HOSP              15071 non-null  object
 24  DOD_SSN               19069 non-null  object
 25  EXPIRE_FLAG           58976 non-null  int64
dtypes: int64(7), object(19)
memory usage: 11.7+ MB

In [20]:
print(admissions.isna().sum())

ROW_ID                      0
SUBJECT_ID                  0
HADM_ID                     0
ADMITTIME                   0
DISCHTIME                   0
DEATHTIME               53122
ADMISSION_TYPE              0
ADMISSION_LOCATION          0
DISCHARGE_LOCATION          0
INSURANCE                   0
LANGUAGE                25332
RELIGION                  458
MARITAL_STATUS          10128
ETHNICITY                   0
EDREGTIME               28099
EDOUTTIME               28099
DIAGNOSIS                  25
HOSPITAL_EXPIRE_FLAG        0
HAS_CHARTEVENTS_DATA        0
ROW_ID_PAT                  0
GENDER                      0
DOB                         0
DOD                     36390
DOD_HOSP                43905
DOD_SSN                 39907
EXPIRE_FLAG                 0
dtype: int64

In [21]:
print(admissions['ADMITTIME'].head(5))
print(admissions['DOB'].head(5))

0    2196-04-09 12:26:00
1    2153-09-03 07:15:00
2    2157-10-18 19:34:00
3    2139-06-06 16:14:00
4    2160-11-02 02:06:00
Name: ADMITTIME, dtype: object
0    2131-05-07 00:00:00
1    2082-07-17 00:00:00
2    2082-07-17 00:00:00
3    2100-05-31 00:00:00
4    2101-11-21 00:00:00
Name: DOB, dtype: object

### Calculating Age

In [22]:
admissions['ADMITTIME'] = pd.to_datetime(admissions['ADMITTIME'])
admissions['DOB'] = pd.to_datetime(admissions['DOB'])
admissions['admission_AGE'] = admissions.apply(lambda x: (x['ADMITTIME'].to_pydatetime() - x['DOB'].to_pydatetime()).days // 365.242, axis = 1)

### Filtering adults

In [23]:
admissions = admissions[admissions['admission_AGE'] >=18]

In [24]:
admissions.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID_PAT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,admission_AGE
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,0,1,19,F,2131-05-07,NaN,NaN,NaN,0,64.0
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,0,1,20,M,2082-07-17,NaN,NaN,NaN,0,71.0
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,0,1,20,M,2082-07-17,NaN,NaN,NaN,0,75.0
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,0,1,21,M,2100-05-31,NaN,NaN,NaN,0,39.0
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,0,1,22,M,2101-11-21,NaN,NaN,NaN,0,58.0

### Working with ICUSTAYS.csv

In [25]:
icustays = dfs['ICUSTAYS.csv']
icustays.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [26]:
icu = icustays.merge(patients, on='SUBJECT_ID', suffixes=('', '_PAT'), how='inner')

In [27]:
icu['INTIME'] = pd.to_datetime(icu['INTIME'])
icu['DOB'] = pd.to_datetime(icu['DOB'])
icu['icu_AGE'] = icu.apply(lambda x: (x['INTIME'].to_pydatetime() - x['DOB'].to_pydatetime()).days // 365.242, axis = 1)

In [28]:
icu.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS,ROW_ID_PAT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,icu_AGE
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490,251,F,2132-02-21,2198-02-18 00:00:00,2198-02-18 00:00:00,NaN,1,65.0
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788,252,M,2130-09-30,NaN,NaN,NaN,0,40.0
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939,253,M,2048-05-26,NaN,NaN,NaN,0,80.0
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600,254,F,2074-11-30,NaN,NaN,NaN,0,45.0
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202,255,M,2119-11-21,NaN,NaN,NaN,0,67.0

In [29]:
icu_admission_demographics = icu.merge(admissions, on=['SUBJECT_ID', 'HADM_ID'], suffixes=('', '_ADM'), how='inner')
icu_admission_demographics[['icu_AGE','admission_AGE']]

       icu_AGE  admission_AGE
0         65.0           65.0
1         40.0           40.0
2         80.0           80.0
3         45.0           45.0
4         67.0           67.0
...        ...            ...
53325     77.0           77.0
53326    300.0          300.0
53327     53.0           53.0
53328     67.0           67.0
53329     34.0           34.0

[53330 rows x 2 columns]

In [30]:
icu_admission_demographics.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS', 'ROW_ID_PAT', 'GENDER', 'DOB', 'DOD',
       'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG', 'icu_AGE', 'ROW_ID_ADM',
       'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE',
       'RELIGION', 'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME',
       'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA',
       'ROW_ID_PAT_ADM', 'GENDER_ADM', 'DOB_ADM', 'DOD_ADM', 'DOD_HOSP_ADM',
       'DOD_SSN_ADM', 'EXPIRE_FLAG_ADM', 'admission_AGE'],
      dtype='object')

In [31]:
# Count instances where icu_AGE is not equal to admission_AGE
count_diff = (icu_admission_demographics['icu_AGE'] != icu_admission_demographics['admission_AGE']).sum()
print("Number of instances where icu_AGE != admission_AGE:", count_diff)

Number of instances where icu_AGE != admission_AGE: 319

#### So, we consider only icu_AGE.

In [32]:
print(icu_admission_demographics['icu_AGE'].min())
icu_admission_demographics['admission_AGE'].min()

18.0

18.0

### SOFA Scores
#### On ICU Day 1

| **Organ System**   | **0 points**                                            | **1 point**                                               | **2 points**                                         | **3 points**                                                                                    | **4 points**                                                                                     |
| ------------------ | ------------------------------------------------------- | --------------------------------------------------------- | ---------------------------------------------------- | ----------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------ |
| **Respiratory**    | PaO₂/FiO₂ ≥ 400 mmHg                                    | PaO₂/FiO₂ < 400 mmHg                                      | PaO₂/FiO₂ < 300 mmHg                                 | PaO₂/FiO₂ < 200 mmHg **and** mechanically ventilated                                            | PaO₂/FiO₂ < 100 mmHg **and** mechanically ventilated                                             |
| **Coagulation**    | Platelets ≥ 150 ×10³ µL                                 | Platelets < 150 ×10³ µL                                   | Platelets < 100 ×10³ µL                              | Platelets < 50 ×10³ µL                                                                          | Platelets < 20 ×10³ µL                                                                           |
| **Liver**          | Bilirubin < 1.2 mg/dL                                   | Bilirubin 1.2–1.9 mg/dL                                   | Bilirubin 2.0–5.9 mg/dL                              | Bilirubin 6.0–11.9 mg/dL                                                                        | Bilirubin ≥ 12.0 mg/dL                                                                           |
| **Cardiovascular** | MAP ≥ 70 mmHg                                           | MAP < 70 mmHg                                             | Dopamine ≤ 5 µg/kg/min **or** any dose of dobutamine | Dopamine > 5 µg/kg/min **or** epinephrine ≤ 0.1 µg/kg/min **or** norepinephrine ≤ 0.1 µg/kg/min | Dopamine > 15 µg/kg/min **or** epinephrine > 0.1 µg/kg/min **or** norepinephrine > 0.1 µg/kg/min |
| **CNS**            | GCS 15                                                  | GCS 13–14                                                 | GCS 10–12                                            | GCS 6–9                                                                                         | GCS < 6                                                                                          |
| **Renal**          | Creatinine < 1.2 mg/dL **or** urine output ≥ 500 mL/day | Creatinine 1.2–1.9 mg/dL **or** urine output < 500 mL/day | Creatinine 2.0–3.4 mg/dL                             | Creatinine 3.5–4.9 mg/dL **or** urine output < 500 mL/day                                       | Creatinine ≥ 5.0 mg/dL **or** urine output < 200 mL/day                                          |

* Total SOFA = sum of all six component scores (0–24). 
* An acute increase of ≥ 2 points from baseline indicates organ dysfunction consistent with sepsis‑3.

In [35]:
dfs['D_ITEMS.csv'].head()

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,Patient controlled analgesia (PCA) [Inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,PCA Lockout (Min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,PCA Medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,PCA Total Dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,PCV Exh Vt (Obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [46]:
(dfs['D_ITEMS.csv']['LABEL'].str.contains('Urine') == True).sum()

56

#### Urine output on first day

Ref : https://pages.doit.wisc.edu/JLMARTIN22/mimic-code/-/blob/anticoag/mimic-iii/concepts/firstday/urine_output_first_day.sql?ref_type=heads

In [48]:
outputEvents = dfs['OUTPUTEVENTS.csv']
outputEvents.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'ITEMID',
       'VALUE', 'VALUEUOM', 'STORETIME', 'CGID', 'STOPPED', 'NEWBOTTLE',
       'ISERROR'],
      dtype='object')

In [49]:
urine_itemids = [
    40055, 43175, 40069, 40094, 40715, 40473, 40085, 40057, 40056,
    40405, 40428, 40086, 40096, 40651, 226559, 226560, 226561, 226584,
    226563, 226564, 226565, 226567, 226557, 226558, 227488, 227489
]

requiredOutputEvents = outputEvents[outputEvents['ITEMID'].isin(urine_itemids)]

In [61]:
oeMergeIcustays = icustays.merge(requiredOutputEvents, on=['SUBJECT_ID','HADM_ID','ICUSTAY_ID'], suffixes=('', '_OE'), how='left')
oeMergeIcustays.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS', 'ROW_ID_OE', 'CHARTTIME', 'ITEMID', 'VALUE',
       'VALUEUOM', 'STORETIME', 'CGID', 'STOPPED', 'NEWBOTTLE', 'ISERROR'],
      dtype='object')

In [62]:
oeMergeIcustays['INTIME'] = pd.to_datetime(oeMergeIcustays['INTIME'])
oeMergeIcustays['CHARTTIME'] = pd.to_datetime(oeMergeIcustays['CHARTTIME'])

##### Filter for first day in ICU

In [63]:
oeMergeIcustays = oeMergeIcustays[
    (oeMergeIcustays['CHARTTIME'] >= oeMergeIcustays['INTIME']) &
    (oeMergeIcustays['CHARTTIME'] <= oeMergeIcustays['INTIME'] + timedelta(days=1))
]

##### Adjust urine output: negative for GU irrigant (itemid 227488) when value > 0

In [64]:
oeMergeIcustays['adjustedVal'] = oeMergeIcustays.apply(
    lambda row: -row['VALUE'] if row['ITEMID'] == 227488 and row['VALUE'] > 0 else row['VALUE'],
    axis=1
)

resultUO = oeMergeIcustays.groupby(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])['adjustedVal'].sum().reset_index()

resultUO = resultUO.rename(columns={'adjustedVal': 'urineOutput'})

resultUO = resultUO.sort_values(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])

print(resultUO)

       SUBJECT_ID  HADM_ID  ICUSTAY_ID  urineOutput
0               3   145834      211552        497.0
1               4   185777      294638       2150.0
2               6   107064      228232       1940.0
3               8   159514      262299        150.0
4               9   150750      220597        887.0
...           ...      ...         ...          ...
53354       99985   176670      279638       1150.0
53355       99991   151118      226241       4330.0
53356       99992   197084      242052       1570.0
53357       99995   137810      229633       1495.0
53358       99999   113369      246512       4510.0

[53359 rows x 4 columns]

#### Vitals on First Day

Ref : https://pages.doit.wisc.edu/JLMARTIN22/mimic-code/-/blob/anticoag/mimic-iii/concepts/firstday/vitals_first_day.sql?ref_type=heads

In [59]:
vital_itemids = {
    'heartrate': [211, 220045],
    'sysbp': [51, 442, 455, 6701, 220179, 220050],
    'diasbp': [8368, 8440, 8441, 8555, 220180, 220051],
    'meanbp': [456, 52, 6702, 443, 220052, 220181, 225312],
    'resprate': [615, 618, 220210, 224690],
    'tempc': [676, 223762],  # Temperature in Celsius
    'tempf': [678, 223761],  # Temperature in Fahrenheit
    'spo2': [646, 220277],
    'glucose': [807, 811, 1529, 3745, 3744, 225664, 220621, 226537]
}

all_itemids = [item for sublist in vital_itemids.values() for item in sublist]

In [60]:
ce_filtered = chartEvents[ (chartEvents['ITEMID'].isin(all_itemids)) & (chartEvents['ERROR'].isna() | (chartEvents['ERROR'] == 0))]

In [68]:
icuCE = icustays.merge(ce_filtered, on=['ICUSTAY_ID'], suffixes=['','_CE'], how='left')
icuCE.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS', 'ROW_ID_CE', 'SUBJECT_ID_CE', 'HADM_ID_CE',
       'ITEMID', 'CHARTTIME', 'STORETIME', 'CGID', 'VALUE', 'VALUENUM',
       'VALUEUOM', 'WARNING', 'ERROR', 'RESULTSTATUS', 'STOPPED'],
      dtype='object')

##### Filter for first day in ICU

In [69]:
icuCE['CHARTTIME'] = pd.to_datetime(icuCE['CHARTTIME'])
icuCE['INTIME'] = pd.to_datetime(icuCE['INTIME'])

icuCE = icuCE[
    (icuCE['CHARTTIME'] >= icuCE['INTIME']) &
    (icuCE['CHARTTIME'] <= icuCE['INTIME'] + timedelta(days=1))
]

In [ ]:
# Assign VitalID based on itemid
# returns the first VALUENUM for the given itemid
def assign_vitalid(itemid):
    if itemid in vital_itemids['heartrate'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 300:
        return 1  # HeartRate
    elif itemid in vital_itemids['sysbp'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 400:
        return 2  # SysBP
    elif itemid in vital_itemids['diasbp'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 300:
        return 3  # DiasBP
    elif itemid in vital_itemids['meanbp'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 300:
        return 4  # MeanBP
    elif itemid in vital_itemids['resprate'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 70:
        return 5  # RespRate
    elif itemid in vital_itemids['tempc'] and 10 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 50:
        return 6  # TempC
    elif itemid in vital_itemids['tempf'] and 70 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] < 120:
        return 6  # TempF (will be converted to Celsius)
    elif itemid in vital_itemids['spo2'] and 0 < icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] <= 100:
        return 7  # SpO2
    elif itemid in vital_itemids['glucose'] and icuCE.loc[icuCE['ITEMID'] == itemid, 'VALUENUM'].iloc[0] > 0:
        return 8  # Glucose
    return None