In [1]:
import pandas as pd
from databasePath import path
import os

In [2]:
folder_path = path
files = os.listdir(folder_path)
reqFiles = []
for file in files:
    if file.endswith('.csv'):
        reqFiles.append(file)

In [3]:
len(reqFiles)

26

In [4]:
reqFiles

['PROCEDUREEVENTS_MV.csv',
 'CALLOUT.csv',
 'D_CPT.csv',
 'D_ITEMS.csv',
 'CAREGIVERS.csv',
 'MICROBIOLOGYEVENTS.csv',
 'LABEVENTS.csv',
 'INPUTEVENTS_CV.csv',
 'ADMISSIONS.csv',
 'D_LABITEMS.csv',
 'DATETIMEEVENTS.csv',
 'PRESCRIPTIONS.csv',
 'PROCEDURES_ICD.csv',
 'NOTEEVENTS.csv',
 'CHARTEVENTS.csv',
 'TRANSFERS.csv',
 'DIAGNOSES_ICD.csv',
 'SERVICES.csv',
 'DRGCODES.csv',
 'OUTPUTEVENTS.csv',
 'PATIENTS.csv',
 'D_ICD_DIAGNOSES.csv',
 'ICUSTAYS.csv',
 'INPUTEVENTS_MV.csv',
 'D_ICD_PROCEDURES.csv',
 'CPTEVENTS.csv']

In [5]:
patients = pd.read_csv(f'{path}/patients.csv')

In [6]:
print(patients.shape)
print(patients.columns)

(46520, 8)
Index(['ROW_ID', 'SUBJECT_ID', 'GENDER', 'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN',
       'EXPIRE_FLAG'],
      dtype='object')

In [ ]:
chartEventsChunk = []
for chunk in pd.read_csv(f'{path}/chartevents.csv', chunksize = 10**6):
    chartEventsChunk.append(chunk)

chartEvents = pd.concat(chartEventsChunk)

In [ ]:
chartEvents.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME',
       'STORETIME', 'CGID', 'VALUE', 'VALUENUM', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'],
      dtype='object')

In [ ]:
chartEvents.head(5)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788,36,165660,241249.0,223834,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,15.0,15.00,L/min,0.0,0.0,NaN,NaN
1,789,36,165660,241249.0,223835,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,100.0,100.00,NaN,0.0,0.0,NaN,NaN
2,790,36,165660,241249.0,224328,2134-05-12 12:00:00,2134-05-12 12:18:00,20823.0,0.37,0.37,NaN,0.0,0.0,NaN,NaN
3,791,36,165660,241249.0,224329,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,6.0,6.00,min,0.0,0.0,NaN,NaN
4,792,36,165660,241249.0,224330,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,2.5,2.50,NaN,0.0,0.0,NaN,NaN

In [ ]:
dfs = {}
dfCols = []

reqFiles.remove('PATIENTS.csv')
reqFiles.remove('CHARTEVENTS.csv')

for file in reqFiles:
    print("-----------------------")
    print("FILE : ",file)
    df = pd.read_csv(f"{path}/{file}")
    dfs[file] = df

-----------------------
FILE :  PROCEDUREEVENTS_MV.csv

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'STARTTIME', 'ENDTIME',
       'ITEMID', 'VALUE', 'VALUEUOM', 'LOCATION', 'LOCATIONCATEGORY',
       'STORETIME', 'CGID', 'ORDERID', 'LINKORDERID', 'ORDERCATEGORYNAME',
       'SECONDARYORDERCATEGORYNAME', 'ORDERCATEGORYDESCRIPTION', 'ISOPENBAG',
       'CONTINUEINNEXTDEPT', 'CANCELREASON', 'STATUSDESCRIPTION',
       'COMMENTS_EDITEDBY', 'COMMENTS_CANCELEDBY', 'COMMENTS_DATE'],
      dtype='object')
-----------------------
FILE :  CALLOUT.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SUBMIT_WARDID', 'SUBMIT_CAREUNIT',
       'CURR_WARDID', 'CURR_CAREUNIT', 'CALLOUT_WARDID', 'CALLOUT_SERVICE',
       'REQUEST_TELE', 'REQUEST_RESP', 'REQUEST_CDIFF', 'REQUEST_MRSA',
       'REQUEST_VRE', 'CALLOUT_STATUS', 'CALLOUT_OUTCOME', 'DISCHARGE_WARDID',
       'ACKNOWLEDGE_STATUS', 'CREATETIME', 'UPDATETIME', 'ACKNOWLEDGETIME',
       'OUTCOMETIME', 'FIRSTRESERVATIONTIME', 'CURRENTRESERVATIONTIME'],
      dtype='object')
-----------------------
FILE :  D_CPT.csv
Index(['ROW_ID', 'CATEGORY', 'SECTIONRANGE', 'SECTIONHEADER',
       'SUBSECTIONRANGE', 'SUBSECTIONHEADER', 'CODESUFFIX',
       'MINCODEINSUBSECTION', 'MAXCODEINSUBSECTION'],
      dtype='object')
-----------------------
FILE :  D_ITEMS.csv
Index(['ROW_ID', 'ITEMID', 'LABEL', 'ABBREVIATION', 'DBSOURCE', 'LINKSTO',
       'CATEGORY', 'UNITNAME', 'PARAM_TYPE', 'CONCEPTID'],
      dtype='object')
-----------------------
FILE :  CAREGIVERS.csv
Index(['ROW_ID', 'CGID', 'LABEL', 'DESCRIPTION'], dtype='object')
-----------------------
FILE :  MICROBIOLOGYEVENTS.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'CHARTDATE', 'CHARTTIME',
       'SPEC_ITEMID', 'SPEC_TYPE_DESC', 'ORG_ITEMID', 'ORG_NAME',
       'ISOLATE_NUM', 'AB_ITEMID', 'AB_NAME', 'DILUTION_TEXT',
       'DILUTION_COMPARISON', 'DILUTION_VALUE', 'INTERPRETATION'],
      dtype='object')
-----------------------
FILE :  LABEVENTS.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ITEMID', 'CHARTTIME', 'VALUE',
       'VALUENUM', 'VALUEUOM', 'FLAG'],
      dtype='object')
-----------------------
FILE :  INPUTEVENTS_CV.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_15546/4155994250.py:11: DtypeWarning: Columns (7,9,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'ITEMID',
       'AMOUNT', 'AMOUNTUOM', 'RATE', 'RATEUOM', 'STORETIME', 'CGID',
       'ORDERID', 'LINKORDERID', 'STOPPED', 'NEWBOTTLE', 'ORIGINALAMOUNT',
       'ORIGINALAMOUNTUOM', 'ORIGINALROUTE', 'ORIGINALRATE', 'ORIGINALRATEUOM',
       'ORIGINALSITE'],
      dtype='object')
-----------------------
FILE :  ADMISSIONS.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME',
       'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA'],
      dtype='object')
-----------------------
FILE :  D_LABITEMS.csv
Index(['ROW_ID', 'ITEMID', 'LABEL', 'FLUID', 'CATEGORY', 'LOINC_CODE'], dtype='object')
-----------------------
FILE :  DATETIMEEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_15546/4155994250.py:11: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME',
       'STORETIME', 'CGID', 'VALUE', 'VALUEUOM', 'WARNING', 'ERROR',
       'RESULTSTATUS', 'STOPPED'],
      dtype='object')
-----------------------
FILE :  PRESCRIPTIONS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_15546/4155994250.py:11: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'STARTDATE', 'ENDDATE',
       'DRUG_TYPE', 'DRUG', 'DRUG_NAME_POE', 'DRUG_NAME_GENERIC',
       'FORMULARY_DRUG_CD', 'GSN', 'NDC', 'PROD_STRENGTH', 'DOSE_VAL_RX',
       'DOSE_UNIT_RX', 'FORM_VAL_DISP', 'FORM_UNIT_DISP', 'ROUTE'],
      dtype='object')
-----------------------
FILE :  PROCEDURES_ICD.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE'], dtype='object')
-----------------------
FILE :  NOTEEVENTS.csv

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_15546/4155994250.py:11: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'CHARTDATE', 'CHARTTIME',
       'STORETIME', 'CATEGORY', 'DESCRIPTION', 'CGID', 'ISERROR', 'TEXT'],
      dtype='object')
-----------------------
FILE :  TRANSFERS.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'EVENTTYPE', 'PREV_CAREUNIT', 'CURR_CAREUNIT', 'PREV_WARDID',
       'CURR_WARDID', 'INTIME', 'OUTTIME', 'LOS'],
      dtype='object')
-----------------------
FILE :  DIAGNOSES_ICD.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE'], dtype='object')
-----------------------
FILE :  SERVICES.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'TRANSFERTIME', 'PREV_SERVICE',
       'CURR_SERVICE'],
      dtype='object')
-----------------------
FILE :  DRGCODES.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'DRG_TYPE', 'DRG_CODE',
       'DESCRIPTION', 'DRG_SEVERITY', 'DRG_MORTALITY'],
      dtype='object')
-----------------------
FILE :  OUTPUTEVENTS.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'ITEMID',
       'VALUE', 'VALUEUOM', 'STORETIME', 'CGID', 'STOPPED', 'NEWBOTTLE',
       'ISERROR'],
      dtype='object')
-----------------------
FILE :  D_ICD_DIAGNOSES.csv
Index(['ROW_ID', 'ICD9_CODE', 'SHORT_TITLE', 'LONG_TITLE'], dtype='object')
-----------------------
FILE :  ICUSTAYS.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS'],
      dtype='object')
-----------------------
FILE :  INPUTEVENTS_MV.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'STARTTIME', 'ENDTIME',
       'ITEMID', 'AMOUNT', 'AMOUNTUOM', 'RATE', 'RATEUOM', 'STORETIME', 'CGID',
       'ORDERID', 'LINKORDERID', 'ORDERCATEGORYNAME',
       'SECONDARYORDERCATEGORYNAME', 'ORDERCOMPONENTTYPEDESCRIPTION',
       'ORDERCATEGORYDESCRIPTION', 'PATIENTWEIGHT', 'TOTALAMOUNT',
       'TOTALAMOUNTUOM', 'ISOPENBAG', 'CONTINUEINNEXTDEPT', 'CANCELREASON',
       'STATUSDESCRIPTION', 'COMMENTS_EDITEDBY', 'COMMENTS_CANCELEDBY',
       'COMMENTS_DATE', 'ORIGINALAMOUNT', 'ORIGINALRATE'],
      dtype='object')
-----------------------
FILE :  D_ICD_PROCEDURES.csv
Index(['ROW_ID', 'ICD9_CODE', 'SHORT_TITLE', 'LONG_TITLE'], dtype='object')
-----------------------
FILE :  CPTEVENTS.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'COSTCENTER', 'CHARTDATE', 'CPT_CD',
       'CPT_NUMBER', 'CPT_SUFFIX', 'TICKET_ID_SEQ', 'SECTIONHEADER',
       'SUBSECTIONHEADER', 'DESCRIPTION'],
      dtype='object')

/var/folders/lf/wmkwxwwx63g16wbm61mzyxrm0000gn/T/ipykernel_15546/4155994250.py:11: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"{path}/{file}")

In [ ]:
dfs['D_ICD_PROCEDURES.csv']

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,264,851,Canthotomy,Canthotomy
1,265,852,Blepharorrhaphy,Blepharorrhaphy
2,266,859,Adjust lid position NEC,Other adjustment of lid position
3,267,861,Lid reconst w skin graft,Reconstruction of eyelid with skin flap or graft
4,268,862,Lid reconst w muc graft,Reconstruction of eyelid with mucous membrane ...
...,...,...,...,...
3877,3344,9959,Vaccination/innocula NEC,Other vaccination and inoculation
3878,3345,9960,Cardiopulm resuscita NOS,"Cardiopulmonary resuscitation, not otherwise s..."
3879,3346,9961,Atrial cardioversion,Atrial cardioversion
3880,3347,9962,Heart countershock NEC,Other electric countershock of heart
3881,3348,9963,Closed chest card massag,Closed chest cardiac massage

### Working with Admissions.csv

In [ ]:
admissions = dfs['ADMISSIONS.csv'].merge(patients, on='SUBJECT_ID', suffixes=('', '_PAT'), how='inner')
print(admissions.columns)

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME',
       'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA', 'ROW_ID_PAT', 'GENDER',
       'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG'],
      dtype='object')

In [ ]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58976 entries, 0 to 58975
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ROW_ID                58976 non-null  int64
 1   SUBJECT_ID            58976 non-null  int64
 2   HADM_ID               58976 non-null  int64
 3   ADMITTIME             58976 non-null  object
 4   DISCHTIME             58976 non-null  object
 5   DEATHTIME             5854 non-null   object
 6   ADMISSION_TYPE        58976 non-null  object
 7   ADMISSION_LOCATION    58976 non-null  object
 8   DISCHARGE_LOCATION    58976 non-null  object
 9   INSURANCE             58976 non-null  object
 10  LANGUAGE              33644 non-null  object
 11  RELIGION              58518 non-null  object
 12  MARITAL_STATUS        48848 non-null  object
 13  ETHNICITY             58976 non-null  object
 14  EDREGTIME             30877 non-null  object
 15  EDOUTTIME             30877 non-null  object
 16  DIAGNOSIS             58951 non-null  object
 17  HOSPITAL_EXPIRE_FLAG  58976 non-null  int64
 18  HAS_CHARTEVENTS_DATA  58976 non-null  int64
 19  ROW_ID_PAT            58976 non-null  int64
 20  GENDER                58976 non-null  object
 21  DOB                   58976 non-null  object
 22  DOD                   22586 non-null  object
 23  DOD_HOSP              15071 non-null  object
 24  DOD_SSN               19069 non-null  object
 25  EXPIRE_FLAG           58976 non-null  int64
dtypes: int64(7), object(19)
memory usage: 11.7+ MB

In [ ]:
print(admissions.isna().sum())

ROW_ID                      0
SUBJECT_ID                  0
HADM_ID                     0
ADMITTIME                   0
DISCHTIME                   0
DEATHTIME               53122
ADMISSION_TYPE              0
ADMISSION_LOCATION          0
DISCHARGE_LOCATION          0
INSURANCE                   0
LANGUAGE                25332
RELIGION                  458
MARITAL_STATUS          10128
ETHNICITY                   0
EDREGTIME               28099
EDOUTTIME               28099
DIAGNOSIS                  25
HOSPITAL_EXPIRE_FLAG        0
HAS_CHARTEVENTS_DATA        0
ROW_ID_PAT                  0
GENDER                      0
DOB                         0
DOD                     36390
DOD_HOSP                43905
DOD_SSN                 39907
EXPIRE_FLAG                 0
dtype: int64

In [ ]:
print(admissions['ADMITTIME'].head(5))
print(admissions['DOB'].head(5))

0    2196-04-09 12:26:00
1    2153-09-03 07:15:00
2    2157-10-18 19:34:00
3    2139-06-06 16:14:00
4    2160-11-02 02:06:00
Name: ADMITTIME, dtype: object
0    2131-05-07 00:00:00
1    2082-07-17 00:00:00
2    2082-07-17 00:00:00
3    2100-05-31 00:00:00
4    2101-11-21 00:00:00
Name: DOB, dtype: object

### Calculating Age

In [ ]:
admissions['ADMITTIME'] = pd.to_datetime(admissions['ADMITTIME'])
admissions['DOB'] = pd.to_datetime(admissions['DOB'])
admissions['admission_AGE'] = admissions.apply(lambda x: (x['ADMITTIME'].to_pydatetime() - x['DOB'].to_pydatetime()).days // 365.242, axis = 1)

### Filtering adults

In [ ]:
admissions = admissions[admissions['admission_AGE'] >=18]

In [ ]:
admissions.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID_PAT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,admission_AGE
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,0,1,19,F,2131-05-07,NaN,NaN,NaN,0,64.0
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,0,1,20,M,2082-07-17,NaN,NaN,NaN,0,71.0
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,0,1,20,M,2082-07-17,NaN,NaN,NaN,0,75.0
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,0,1,21,M,2100-05-31,NaN,NaN,NaN,0,39.0
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,0,1,22,M,2101-11-21,NaN,NaN,NaN,0,58.0

### Working with ICUSTAYS.csv

In [ ]:
icustays = dfs['ICUSTAYS.csv']
icustays.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [ ]:
icu = icustays.merge(patients, on='SUBJECT_ID', suffixes=('', '_PAT'), how='inner')

In [ ]:
icu['INTIME'] = pd.to_datetime(icu['INTIME'])
icu['DOB'] = pd.to_datetime(icu['DOB'])
icu['icu_AGE'] = icu.apply(lambda x: (x['INTIME'].to_pydatetime() - x['DOB'].to_pydatetime()).days // 365.242, axis = 1)

In [ ]:
icu.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS,ROW_ID_PAT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,icu_AGE
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490,251,F,2132-02-21,2198-02-18 00:00:00,2198-02-18 00:00:00,NaN,1,65.0
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788,252,M,2130-09-30,NaN,NaN,NaN,0,40.0
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939,253,M,2048-05-26,NaN,NaN,NaN,0,80.0
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600,254,F,2074-11-30,NaN,NaN,NaN,0,45.0
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202,255,M,2119-11-21,NaN,NaN,NaN,0,67.0

In [ ]:
icu_admission_demographics = icu.merge(admissions, on=['SUBJECT_ID', 'HADM_ID'], suffixes=('', '_ADM'), how='inner')
icu_admission_demographics[['icu_AGE','admission_AGE']]

       icu_AGE  admission_AGE
0         65.0           65.0
1         40.0           40.0
2         80.0           80.0
3         45.0           45.0
4         67.0           67.0
...        ...            ...
53325     77.0           77.0
53326    300.0          300.0
53327     53.0           53.0
53328     67.0           67.0
53329     34.0           34.0

[53330 rows x 2 columns]

In [ ]:
icu_admission_demographics.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'DBSOURCE',
       'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', 'LAST_WARDID',
       'INTIME', 'OUTTIME', 'LOS', 'ROW_ID_PAT', 'GENDER', 'DOB', 'DOD',
       'DOD_HOSP', 'DOD_SSN', 'EXPIRE_FLAG', 'icu_AGE', 'ROW_ID_ADM',
       'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE',
       'RELIGION', 'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME',
       'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA',
       'ROW_ID_PAT_ADM', 'GENDER_ADM', 'DOB_ADM', 'DOD_ADM', 'DOD_HOSP_ADM',
       'DOD_SSN_ADM', 'EXPIRE_FLAG_ADM', 'admission_AGE'],
      dtype='object')

In [ ]:
# Count instances where icu_AGE is not equal to admission_AGE
count_diff = (icu_admission_demographics['icu_AGE'] != icu_admission_demographics['admission_AGE']).sum()
print("Number of instances where icu_AGE != admission_AGE:", count_diff)

Number of instances where icu_AGE != admission_AGE: 319

#### So, we consider only icu_AGE.

In [ ]:
print(icu_admission_demographics['icu_AGE'].min())
icu_admission_demographics['admission_AGE'].min()

18.0

18.0

### SOFA Scores

Reference : https://pages.doit.wisc.edu/JLMARTIN22/mimic-code/-/blob/10e415273c67fa458d89bbdfc06af2a5d654293d/mimic-iii/concepts/severityscores/sofa.sql

In [ ]:
dfs['LABEVENTS.csv'].head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [ ]:
dfs['D_LABITEMS.csv'].head()

,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,546,51346,Blasts,Cerebrospinal Fluid (CSF),Hematology,26447-3
1,547,51347,Eosinophils,Cerebrospinal Fluid (CSF),Hematology,26451-5
2,548,51348,"Hematocrit, CSF",Cerebrospinal Fluid (CSF),Hematology,30398-2
3,549,51349,Hypersegmented Neutrophils,Cerebrospinal Fluid (CSF),Hematology,26506-6
4,550,51350,Immunophenotyping,Cerebrospinal Fluid (CSF),Hematology,NaN

In [ ]:
dfs['D_ITEMS.csv'].head()

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,Patient controlled analgesia (PCA) [Inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,PCA Lockout (Min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,PCA Medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,PCA Total Dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,PCV Exh Vt (Obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN

#### Coagulation (plateletes)